<!DOCTYPE html>
<html>
	<head>
		<title>You have found the secret!</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css" media="screen">
	</head>
	<body>
		<div class="container">
			<h1>Welcome, your password gave you access to the secret page!</h1> 
			<p>Please stay and view this secret page as long as you like, afterwards, you can logout to keep the secret safe.</p>
			<form action="/logout">
				<input class="btn btn-danger" type="submit" value="Logout">
				{% for message in get_flashed_messages() %}
					{{ message }}
				{% endfor %}
			</form>
		</div>
		<h3>Posts:</h3>
		{% for posts in posts %}
		Title: {{ posts.title }} <br>
		Post: {{ posts.description }}<br>
		<br>
		{% endfor %}
	</body>
</html>